div#gm-splash {
  margin-top: 150px;
  width: 653px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
}

img#gm-headline {
  margin-bottom: 14px;
}

ul#gm-nav {
  display: inline;
  float: left;
  width: 33%;
  height: 280px;
}

ul#gm-nav li {
  height: 53px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 8px;
}

ul#gm-nav li a {
  vertical-align: center;
}

ul#gm-nav a, ul#gm-nav a:visited {
  color: black;
  text-decoration: none;
  font-size: 36pt;
}

div#gm-content {
  display: inline;
  float: right;
  width: 66%;
  height: 242px;
  border: 1px solid black;
  border-radius: 8px;
}

.gm-content-pane {
  margin: 10px;
}

.gm-content-pane a, .gm-content-pane a:visited {
  color: #34282C; 
  text-decoration: underline;
}

.gm-content-pane ul {
  margin: 10px;
}

.gm-content-pane ul li {
  display: inline;
  margin-right: 34px;
}

li#amp {
  margin-left: 57px;
  margin-right: 0px;
}

li#amp img, li#seven img {
  margin-top: 15px;
}

li#seven {
  margin-left: 92px;
}

li#primal {
  margin-left: 111px;
}

li#primal img {
  margin-top: 15px;
}

li#gmail {
  display: block;
  margin-left: 139px;
}

.gm-content-pane ul li img {
  height: 100px;
  width: auto;
}

.tip-able {
  cursor: pointer;
}

/* simple css-based tooltip */
.tooltip {
  background-color:#eee;
  border:1px solid #fff;
  padding:10px 15px;
  max-width: 400px;
  display:none;

  /* text styling */
  color:#000;
  text-align:left;
  font-size:16px;
  line-height: 1.5;

  /* outline radius for mozilla/firefox only */
  -moz-box-shadow:0 0 10px #000;
  -webkit-box-shadow:0 0 10px #000;
}
